
.wraper{
      position: relative;
    left: 50%;
    width: 800px;
    transform: translate(-50%, 0);
    background-color:cornsilk;
    margin:30px;
    border:2px solid black;

}

#content{
  display:flex;
  flex-direction:row; 
   width: 800px;
    height: 400px;
  
}

#dialogue-part-list{
  display:flex;
  flex-direction: column;
  width:150px;
  height: 300px;
  justify-content: flex-start;
  
}

#dialogue-part-list-button{
  margin-top: 10px;
  background-color: coral;
  color:black;
}

#dialogue-part{
  display:flex;
  flex-direction: column;
  border-right: 2px solid black;
  justify-content: space-around;
  width:152px
  
}

#MessageBox{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid orange;
  width:600px;
  height:400px;
}

#messageBox-messages{
  display:flex;
  flex-direction: column;
  width:600px;
  height:300px;
  overflow-y: scroll;
}

#addmessage{
  display: flex;
  justify-content: center;
  align-content: flex-end;
  width: 600px;
  height:40px;  
}

#message{
  margin: 10px;
  padding: 3px;
  border: 2px solid black;
  height: 40px
}